.dialog {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed black;
    text-decoration: none;
    color: var(--primary-text-color);
}

.dialog.active {
    text-decoration: underline;
}

.dialog>img {
    padding-right: 10px;
    width: 40px;
}

@media (max-width: 1200px) {
    .dialog {
        padding: 4px 8px;
        font-size: 12px;
    }
    .dialog>img {
        padding-right: 8px;
        width: 30px;
    }
}

@media (max-width: 640px) {
    .dialog {
        padding: 2px 4px;
        font-size: 12px;
    }
    .dialog>img {
        padding-right: 5px;
        width: 18px;
    }
}