.postsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 20px 0;
    padding: 15px 0 0 0;
    width: 500px;
    height: 95%;
    background-color: aliceblue;
    border-radius: 20px;
}

.feedTitle {
    padding-left: 20px;
    height: 32px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.feedTitle>h4 {
    padding-left: 20px;
    height: 32px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(202, 215, 231, 0.849);
    border: 1px solid black;
    border-radius: 10px;
}

.posts {
    padding-top: 10px;
}

.newMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: fit-content;
    min-height: fit-content;
    height: 150px;
    margin-top: 15px;
    padding: 0px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: 0 0 2px 1px black;
    -moz-box-shadow: 0 0 2px 1px black;
    box-shadow: 0 0 2px 1px black;
}

.newMessage button {
    margin-top: -15px;
}

.newMessage textarea {
    padding: 25px 0px 0 8px;
    width: 240px;
    height: 70px;
}

.newMessageBg {
    width: 240px;
    height: 125px;
    top: 18px;
    left: 35px;
    position: absolute;
    background-color: rgba(202, 215, 231, 0.849);
    z-index: -1;
}