.header {
  grid-area: h;
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1200px;
  min-height: 70px;
  z-index: 11;
}

.headerLogo {
  width: 40px;
}

.loginBlock {
  margin-right: 1%;
  position: relative;
  width: 60px;
  height: 60px;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.loginAvatar {
  width: 60px;
  height: 60px;
  top: -3px;
  align-self: center;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  border: 3px solid aliceblue;
}
