.navWrapper {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: n;
  height: calc(100vh - 70px - 10px);
  left: 0;
  top: 80px;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
  background-color: var(--secondary-bg-color);
}

.nav {
  position: sticky;
  padding-left: 20px;
  top: 10%;
  font-weight: 600;
  font-size: large;
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 5px;
}

.item a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.item a.activeLink {
  border-bottom: 2px solid var(--primary-decoration-color);
}

.friends {
  margin-top: 20px;
}

.friendsContent {
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
}

.friendsContent img {
  width: 40px;
  border: 2px solid rgb(45, 137, 160);
  border-radius: 50%;
}

.treeLogo {
  margin: 0 auto;
  position: sticky;
  height: 345px;
  width: 180px;
  bottom: 0px;
}

@media (max-width: 640px) {
  .treeLogo {
    height: 138px;
    width: 72px;
  }
}