.navWrapper {
  position: sticky;
  grid-area: n;
  height: calc(100vh - 70px - 10px);
  left: 0;
  top: 80px;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
  border: 2px solid green;
}

.nav {
  position: sticky;
  padding-left: 20px;
  top: 10%;
  font-weight: 600;
  font-size: large;
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 5px;
}

.item a {
  color: black;
  text-decoration: none;
}

.item a.activeLink {
  border-bottom: 2px solid black;
}

.friends {
  margin-top: 20px;
}

.friendsContent {
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
}

.friendsContent img {
  width: 40px;
  border: 2px solid rgb(45, 137, 160);
  border-radius: 50%;
}

.treeLogo {
  position: sticky;
  height: 345px;
  width: 180px;
  top: 600px;
  padding-left: 10px;
}