.pagination {
    margin: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageNumber {
    box-sizing: border-box;
    padding: 2.5px;
    cursor: pointer;
    height: fit-content;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.doubleArrowRight,
.doubleArrowLeft,
.arrowLeft,
.arrowRight {
    display: flex;
    height: 20px;
    width: 20px;
    margin: 2px;
    cursor: pointer;
}

.doubleArrowRight,
.doubleArrowLeft {
    height: 26px;
    width: 26px;
}

.doubleArrowLeft {
    transform: rotate(180deg);
}

.arrowLeft {
    transform: rotate(180deg);
}