.followedWrapper {
    grid-area: f;
    padding: 5px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 260px;
    height: 240px;
    width: fit-content;
    border-radius: 15px;    
    box-shadow: 0 0 2px 1px var(--primary-decoration-color);
    background-color: var(--primary-bg-color);
}
.title {
    padding-bottom: 3px;
    border-bottom: 1px solid green;
}
.followedList {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 6px;
    border-radius: 10px;
    padding: 4px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 70px;
    width: fit-content;
    height: 100%;
    cursor: pointer;
}

.user img {
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid var(--primary-decoration-color);
}