.descriptionBlock {
    padding: 10px;
}

.contacts {
    padding-left: 10px;
}

.lookingForAJob>img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: -5px;
}

.profilePhoto {
    max-width: 200px;
}

.error {
    color: red;
    font-weight: 700;
    font-size: 12px;
}
