.descriptionBlock {
    padding: 10px;
}

.contacts>ul {
    margin: 0 0 20px -15px;
}

.lookingForAJob>img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: -5px;
}

.profilePhoto {
    max-width: 200px;
}