.descriptionBlock {
    padding: 10px;
}

.contacts {
    padding-left: 10px;
}

.lookingForAJob>img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: -5px;
}

.profilePhoto {
    max-width: 200px;
}

.error {
    color: red;
    font-weight: 700;
    font-size: 12px;
}

.imageUploadWrapper {
    width: 130px;
    height: 33px;
    position: relative;
}

.imageUploadInput {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
}

.imageUploadLabel {
    position: absolute;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.imageUploadWrapper:hover label {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.imageUploadWrapper:active label {
    transform: translateY(2px);
    transition-duration: .35s;
}

.imageUploadWrapper:hover label {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.form input {
    width: 300px;
}

.form .lookingForAJob input {
    width: 18px;
}
