.item {
  padding: 10px 0px 10px 10px;
  margin: 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 70px;
  height: fit-content;
  width: 420px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 245, 245);
  color: black;
  -webkit-box-shadow: 2px 2px 1.5px black;
  -moz-box-shadow: 2px 2px 1.5px black;
  box-shadow: 2px 2px 1.5px black;
}

.postAuthor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}

.postAuthor>img {
  width: 56px;
  height: 56px;
  border: 2px solid black;
  border-radius: 30px;
}

.postTextAreaWrapper {
  margin-left: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.postTextArea {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  min-height: 50px;
  width: 99.6%;
  border: 0.5px solid black;
  border-right: hidden;
  border-radius: 10px 0 0 10px;
  background-color: aliceblue;
}

.postTextArea>span {
  padding-left: 10px;
}

.likeArea {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  width: 90px;
}

.likeArea span {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  width: fit-content;
}

.likeArea img {
  margin-left: 3px;
  width: 18px;
  height: 18px;
}

.likeButton>button {
  width: 60px;
  height: 25px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 255, 255);
  color: black;
  -webkit-box-shadow: 0 0 2px 1px black;
  -moz-box-shadow: 0 0 2px 1px black;
  box-shadow: 0 0 2px 1px black;
}

.likeButton>button:hover {
  background-color: #35da15;
  border: 0.5px solid black;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.likeButton>button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 12px;
}