.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content>div {
    margin: 35px auto;
}
.loginBlock {
    padding: 10px 70px 25px 70px;
    /* margin-bottom: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--primary-decoration-color);
    border-radius: 10px;
    background-color: var(--primary-bg-color);
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loginForm input {
    margin-bottom: 15px;
}

.error {
    padding: 3px 4px;
    text-align: center;
    border: 1px dashed red;
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.loginTest {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--primary-decoration-color);
    background-color: var(--primary-bg-color);
}

.loginTest>p {
    margin: 0;
}